<!DOCTYPE html>
<html>
  <head>
    <title>Recieve an SMS with Node</title>
    <meta name="description" content="A cool thing made with Glitch">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  
  <body>
    <h1>SMS to Webpage</h1>
    
    <ul id="messages">
      
    </ul>
    
  
    <h3>
      Setup:
    </h3>
    <ol>
      <li>
        <a target="_new" href="https://glitch.com/edit/#!/remix/text-to-webpage">Remix</a> this project.
      </li>
      <li>Sign up for a <a href="http://twilio.com/try-twilio">free Twilio account</a> and <a href="https://www.twilio.com/console/phone-numbers/search">buy a phone number</a>.</li>
      <li>Set the inbound message webhook to <i>yourproject.glitch.me/message</i></li>
    </ol>
    <img width="600px" src="https://cdn.glitch.com/32f53aae-2ffb-49eb-b765-5bcbfc7243d8%2Fmessage-endpoint.png?1492468464175"/>
    
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
  
  </body>

</html>
